fail_fast: true

repos:
    -   repo: https://github.com/pre-commit/pre-commit-hooks
        rev: v6.0.0
        hooks:
            -   id: check-merge-conflict
            -   id: end-of-file-fixer
            -   id: mixed-line-ending
                args: [ --fix=lf ]
            -   id: trailing-whitespace

    -   repo: https://github.com/commitizen-tools/commitizen
        rev: v4.9.1
        hooks:
            -   id: commitizen
            -   id: commitizen-branch
                stages: [ pre-push ]

    -   repo: https://github.com/astral-sh/ruff-pre-commit
        rev: v0.14.3
        hooks:
            -   id: ruff-format
            -   id: ruff-check
                args: [ --fix, --exit-non-zero-on-fix ]
                types_or: [ python, pyi ]
                require_serial: true

    -   repo: https://github.com/astral-sh/uv-pre-commit
        rev: 0.9.7
        hooks:
            -   id: uv-lock

    -   repo: https://github.com/abravalheri/validate-pyproject
        rev: v0.24.1
        hooks:
            -   id: validate-pyproject
